.header {
    width: 100%;   
    height: 120px;
    position: fixed;
}

.header-background {
    background-image: url(https://github.com/PhucCorn/img/blob/main/header_background.png?raw=true);
    width: 100%;   
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
}

.body {
    background-color: rgb(230, 239, 223);
    width: 100%;
}

.body-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.body-background-1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 120px;
    background-image: url(https://github.com/PhucCorn/img/blob/main/header_background.png?raw=true);
}

.body-welcome {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.body-welcome--text {
    margin-top: 100px;
    color: rgb(67,124,91);
    font-size: 35px;
    font-family: 'Titan One', cursive;
}

.body-welcome--username,
.body-welcome--pass {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0 30px 15px;
    padding-left: 13px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
}

.body-welcome--login {
    margin-bottom: 100px;
    color: rgb(67,124,91);
    font-size: 35px;
    font-family: 'Titan One', cursive;
    text-decoration: none;
    align-self: center;
}

.footer {
    background-color: rgb(7,66,46);
    background-image: radial-gradient(farthest-side at bottom left, rgb(5, 93, 81), transparent 900px), radial-gradient(farthest-side at bottom right, rgb(0, 145, 80), transparent 1000px);
    width: 100%;
    height: 230px;
}

.footer-container {
    width: 100%;
    height: 100%;
}

.footer-description {
    height: 100%;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-logo-uwc {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bolder;
    color: #fff;
}

.footer-logo--text {
    font-size: 50px;
    margin: 0 0 !important;
}

.footer-logo-create {
    font-size: large;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    color: #fff;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    justify-content: space-around;
}

.footer-contact-header {
    margin-bottom: 10px;
}

.footer-contact-header--text {
    font-size: 30px;
    margin: 0 0 !important;
    font-weight: bold;
}

.footer-contact-gmail {
    font-size: 15px;
    font-weight: 100;
}